*
!ripgreprc
!.prettierrc.json
!README.md
!tmux.conf
!vimrc
!kitty/
!kitty/*
!contour/
!contour/*
!fish/
!fish/config.fish
!nvim/
!nvim/*
nvim/.DS_Store
!nvim/after/*
!nvim/after/ftplugin/*
!nvim/after/plugin/*
!nvim/colors/*
!nvim/lua/*
nvim/lua/.DS_Store
!nvim/lua/pack/*
nvim/lua/pack/.DS_Store
!nvim/lua/utils/*
!nvim/lua/wip/*
!nvim/lua/nightcool/*
!nvim/lua/s_space_search/*
!goneovim/
!goneovim/*
!zellij/
!zellij/*
!viebrc
