**/.DS_Store
configstore/
nvim/plugin/packer_compiled.vim
nvim/plugin/packer_compiled.lua
.bombadillo.ini
fish/
broot/
amfora/

dconf/
evolution/
goa-1.0/
gtk-3.0/
ibus/
nautilus/
pulse/
update-notifier/
gnome-initial-setup-done
user-dirs.*

Slack/
composer/
Code/
enchant/
gedit/
mimeapps.list
umake
JetBrains/
google-chrome/
nextjs-nodejs/
autostart/
nnn/
