*
!colocyclone.vim
!README.md
!tmux.conf
!vimrc
!kitty/
!kitty/*
!alacritty/
!alacritty/*
!nvim/
!nvim/*
nvim/.DS_Store
!nvim/after/*
!nvim/after/ftplugin/*
!nvim/lua/*
nvim/lua/.DS_Store
!nvim/lua/packages/*
nvim/lua/packages/.DS_Store
!nvim/lua/utils/*
